/* Основные стили для Tech Academy */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url("https://source.unsplash.com/1600x900/?technology,students") center/cover no-repeat;
  height: 90vh;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.btn-primary, .btn-outline-primary:hover {
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

footer {
  font-size: 0.9rem;
}
.card-img-top{
    min-height: 278px;
    max-height: 278px;
}
